<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
         http://www.springframework.org/schema/beans
         https://www.springframework.org/schema/beans/spring-beans.xsd"
>
    <bean id="accountRepository"
          class="talks.di.persistence.inmemory.AccountRepositoryInMemory"
          primary="true"/>
    <bean id="moneyTransactionRepository"
          class="talks.di.persistence.inmemory.MoneyTransactionRepositoryInMemory"
          primary="true"/>
</beans>