<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
         http://www.springframework.org/schema/beans
         https://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context
         https://www.springframework.org/schema/context/spring-context.xsd"
>
    <context:annotation-config/>

    <!-- Connection -->
    <bean class="talks.di.classes.persistence.impl.ConnectionFactory" factory-method="build">
        <constructor-arg type="java.lang.String" value="jdbc:postgresql://localhost:5432/postgres"/>
        <constructor-arg type="java.lang.String" value="postgres"/>
        <constructor-arg type="java.lang.String" value="postgres"/>
    </bean>

    <!-- Repositories -->
    <bean class="impl.talks.di.classes.persistence.AccountRepositoryPersistent"/>
    <bean class="impl.talks.di.classes.persistence.MoneyTransactionRepositoryPersistent"/>

    <!-- Services -->
    <bean class="moneytransactions.services.talks.di.classes.logic.MoneyTransactionFactory"/>
    <bean class="purchases.services.talks.di.classes.logic.MakePurchaseService"/>
    <bean class="purchases.services.talks.di.classes.logic.ReturnPurchaseService"/>

    <!-- Business Logic -->
    <bean class="talks.di.classes.logic.PurchasesOperation"/>

    <!-- Application -->
    <bean class="talks.di.spring.xmlautowired.SpringXmlAutowiredApplication"/>
</beans>